{% from 'partials/navigation.html' import navigation %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}PulseSphere{% endblock %}</title>

    {% block head_meta %}{% endblock %}

    {% block head_fonts %}
      {% include 'partials/head_fonts.html' %}
    {% endblock %}

    {% block head_assets %}
      <link rel="stylesheet" href="{{ request.url_for('static', path='css/styles.css') }}" />
      <link rel="preload" href="{{ request.url_for('static', path='js/app.js') }}" as="script" />
    {% endblock %}

    {% block head_extra %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <div class="noise"></div>

    {% block layout_header %}
      <header class="hero">
        {% block navigation %}
          {% call navigation(request) %}
            {% block nav_links %}
              <a href="{{ request.url_for('read_home') }}" class="nav__link">Início</a>
              <a href="{{ request.url_for('read_vision') }}" class="nav__link">Visão</a>
              <a href="{{ request.url_for('read_home') }}#ecosystem" class="nav__link">Ecossistema</a>
              <a href="{{ request.url_for('read_home') }}#contact" class="nav__link nav__cta">Conectar</a>
            {% endblock %}
          {% endcall %}
        {% endblock %}
        {% block hero %}{% endblock %}
      </header>
    {% endblock %}

    <main>{% block content %}{% endblock %}</main>

    {% block layout_footer %}
      {% include 'partials/footer.html' %}
    {% endblock %}

    {% block before_scripts %}{% endblock %}
    <script defer src="{{ request.url_for('static', path='js/app.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
